/* Fonts */
@font-face {
  font-family: "Shabnam";
  src: url("./fonts/Shabnam.woff") format("woff");
}
/* Varibale */
:root {
  --main-color: #d3ad7f;
  --balck: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

/* basic style */
* {
  font-family: "Shabnam", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 75%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
  direction: rtl !important;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

section {
  padding: 2rem 7%;
}
.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3rem;
  font-size: 4.5rem;
}
.heading span {
  color: var(--main-color);
}
.btn {
  margin-top: 1rem;
  cursor: pointer;
  display: inline-block;
  padding: 0.9rem 2rem;
  color: #fff;
  background: var(--main-color);
}
.btn:hover {
  color: var(--balck);
  letter-spacing: 0.1rem;
  font-weight: bold;
}

/* header style */
.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.header .logo img {
  height: 6rem;
}

.header .navbar a {
  margin: 0 10px;
  color: #fff;
  padding: 0.4rem;
  font-size: 1.6rem;
  transition: all 0.2s ease;
}

.header .navbar a:hover {
  color: var(--main-color);
  border: 0.1rem solid var(--main-color);
  border-radius: 5px;
  padding: 0.4rem;
  transition: 0.2s ease-in;
}

.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 25%;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  /* برای اینکه در حالت عادی نمایش داده نشود این اینپوت */
  transform: scaleY(0);
  /* نمایش آن از مبدا بالا باشد */
  transform-origin: top;
}
.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form input {
  direction: rtl;
  padding: 5px;
  height: 100%;
  width: 100%;
  border-radius: 2rem;

  font-size: 1.3rem;
  color: var(--main-color);
  text-transform: none;
}

.header .search-form label {
  position: absolute;
  color: var(--balck);
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 1rem;
}

.header .search-form label:hover {
  color: var(--main-color);
}

.header .cart-items-container {
  position: absolute;
  top: 100%;
  /* برای اینکه در حالت عادی نمایش داده نشود */
  right: -100%;
  height: calc(100vh - 9.5rem);
  width: 28rem;
  background: #fff;
  padding: 0 1.5rem;
  transition: all 0.5s ease;
}
.header .cart-items-container.active {
  right: 0;
  transition: all 0.5s ease;
}

.header .cart-items-container .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
  position: relative;
  /* top: 1rem; */
  left: 0.3rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--balck);
}

.header .cart-items-container .cart-item .fa-times:hover {
  color: var(--main-color);
}

.header .cart-items-container .cart-item img {
  height: 7rem;
}

.header .cart-items-container .cart-item h3 {
  font-size: 2rem;
  color: var(--balck);
  padding-bottom: 0.5rem;
}

.header .cart-items-container .cart-item .price {
  font-size: 1rem;
  color: #e2a760;
}

.header .cart-items-container .btn {
  width: 100%;
  text-align: center;
}

/* Home Style */

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(./images/home-img.png) no-repeat;
  background-size: cover;
  direction: rtl;
  /* background-position: center; */
}

.home .content {
  max-width: 35rem;
  height: 50vh;
}
.home .content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
}

.home .content p {
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 1.5;
  padding: 1rem 0;
  color: rgb(156, 156, 156);
}

/*About Style */
.about .row {
  /* height: 50%; */
  display: flex;
  align-items: center;
  flex-direction: row;
  background: var(--balck);
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 45rem;
  width: 100%;
}
.about .row .image img {
  width: 100%;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: #fff;
  padding: 10px;
}

.about .row .content p {
  font-size: 1.4rem;
  color: #ccc;
  line-height: 1.5;
}

/* *********************************** media-queris************************* */
@media (max-width: 991px) {
  html {
    font-size: 65%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9rem);
    transition: all 0.5s ease;
  }
  /* برای باز و بسته شدن منو است */
  .header .navbar.active {
    right: 0;
    transition: all 0.5s ease;
  }

  .header .navbar a {
    color: var(--balck);
    display: block;
    direction: rtl;
    text-align: center;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .header .navbar a:hover {
    color: var(--balck);
  }
  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home {
    background-position: right;
    justify-content: center;
    text-align: right;
    background-position: center;
    width: 100vh;
  }
  .home .content {
    margin-right: 4rem;
  }
  .home .content h3 {
    font-size: 4.3rem;
  }
  .home .content p {
    font-size: 1.3rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 65%;
  }
}
