/* Fonts */
@font-face {
  font-family: "Shabnam";
  src: url("./fonts/Shabnam.woff") format("woff");
}
/* Varibale */
:root {
  --main-color: #d3ad7f;
  --balck: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

/* basic style */
* {
  font-family: "Shabnam", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 75%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

/* header style */
.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.header .logo img {
  height: 6rem;
}

.header .navbar a {
  margin: 0 10px;
  color: #fff;
  padding: 0.4rem;
  font-size: 1.6rem;
  transition: all 0.2s ease;
}

.header .navbar a:hover {
  color: var(--main-color);
  border: 0.1rem solid var(--main-color);
  border-radius: 5px;
  padding: 0.4rem;
  transition: 0.2s ease-in;
}
