/* Fonts */
@font-face {
  font-family: "Shabnam";
  src: url("./fonts/Shabnam.woff") format("woff");
}
/* Varibale */
:root {
  --main-color: #d3ad7f;
  --balck: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

/* basic style */
* {
  font-family: "Shabnam", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 75%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
  scroll-behavior: smooth;
  /* direction: rtl !important; */
}

html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

section {
  padding: 2rem 7%;
}
.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3rem;
  font-size: 4.5rem;
}
.heading span {
  color: var(--main-color);
}
.btn {
  margin-top: 1rem;
  cursor: pointer;
  display: inline-block;
  padding: 0.9rem 2rem;
  color: #fff;
  background: var(--main-color);
}
.btn:hover {
  color: var(--balck);
  letter-spacing: 0.1rem;
  font-weight: bold;
}

/* header style */
.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  height: 8rem;
}

.header .logo img {
  margin-top: 1rem;
  height: 80%;
  width: 80%;
}

.header .navbar a {
  margin: 0 10px;
  color: #fff;
  padding: 0.4rem;
  font-size: 1.6rem;
  transition: all 0.2s ease;
}

.header .navbar a:hover {
  color: var(--main-color);
  border: 0.1rem solid var(--main-color);
  border-radius: 5px;
  padding: 0.4rem;
  transition: 0.2s ease-in;
}

.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 25%;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  /* برای اینکه در حالت عادی نمایش داده نشود این اینپوت */
  transform: scaleY(0);
  /* نمایش آن از مبدا بالا باشد */
  transform-origin: top;
}
.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form input {
  direction: rtl;
  padding: 5px;
  height: 100%;
  width: 100%;
  border-radius: 2rem;

  font-size: 1.3rem;
  color: var(--main-color);
  text-transform: none;
}

.header .search-form label {
  position: absolute;
  color: var(--balck);
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 1rem;
}

.header .search-form label:hover {
  color: var(--main-color);
}

.header .cart-items-container {
  position: absolute;
  top: 100%;
  /* برای اینکه در حالت عادی نمایش داده نشود */
  right: -100%;
  height: calc(100vh - 9.5rem);
  width: 28rem;
  background: #fff;
  padding: 0 1.5rem;
  transition: all 0.5s ease;
}
.header .cart-items-container.active {
  right: 0;
  transition: all 0.5s ease;
}

.header .cart-items-container .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
  position: relative;
  /* top: 1rem; */
  left: 0.3rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--balck);
}

.header .cart-items-container .cart-item .fa-times:hover {
  color: var(--main-color);
}

.header .cart-items-container .cart-item img {
  height: 7rem;
}

.header .cart-items-container .cart-item h3 {
  font-size: 2rem;
  color: var(--balck);
  padding-bottom: 0.5rem;
}

.header .cart-items-container .cart-item .price {
  font-size: 1rem;
  color: #e2a760;
}

.header .cart-items-container .btn {
  width: 100%;
  text-align: center;
}

/* Home Style */

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(./images/ban1.jpg) no-repeat;
  background-size: cover;
  direction: rtl;
  
  /* background-position: center; */
}

.home .content {
  max-width: 40rem;
  height: 60vh;
}
.home .content h3 {
  font-size: 4.8rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255,1);
  
}

.home .content p {
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 1.5;
  padding: 1rem 0;
  color: #fff;
}

/*About Style */

.about .row {
  /* height: 50%; */
  display: flex;
  align-items: center;
  flex-direction: row;
  background: var(--balck);
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 45rem;
  width: 100%;
}
.about .row .image img {
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
}
.about .row .content {
  direction: rtl !important;
  flex: 1 1 45rem;
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: #fff;
  padding: 10px;
}

.about .row .content p {
  font-size: 1.4rem;
  color: #ccc;
  line-height: 1.5;
}

/* Menu style */

.menu .box-container {
  direction: rtl !important;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  cursor: pointer;
  padding: 6rem 3rem;
  text-align: center;
  border: var(--border);
}
.menu .box-container .box img {
  height: 10rem;
}

.menu .box-container .box h3 {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
}

.menu .box-container .box .price {
  color: #fff;
  font-size: 2.5rem;
  padding: 0.5rem 0;
}

.menu .box-container .box .price span {
  /* color: #fff; */
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: lighter;
}

.menu .box-container .box:hover {
  background: #fff;
}

.menu .box-container .box:hover > * {
  color: var(--balck);
}

/* products style */

.products .box-container {
  direction: rtl !important;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.products .box-container .box {
  text-align: center;
  border: var(--border);
  padding: 1.5rem;
}

.products .box-container .box .icons a {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 1.5rem;
  border: var(--border);
  border-radius: 10px;
  color: #fff;
  margin: 0.3rem;
}
.products .box-container .box .icons a:hover {
  background: var(--main-color);
}

.products .box-container .box .image {
  padding: 1rem;
}

.products .box-container .box .image img {
  height: 25rem;
}

.products .box-container .box .content h3 {
  color: #fff;
  font-size: 2rem;
}

.products .box-container .box .content .stars {
  color: #fff;
  padding: 2rem;
}

.products .box-container .box .content .stars i {
  font-size: 1.5rem;
  padding: 0.3rem;
  color: var(--main-color);
}

.products .box-container .box .content .price {
  color: #fff;
  font-size: 2rem;
}

.products .box-container .box .content .price span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1.5rem;
}

/* review style */

.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.review .box-container .box {
  border: var(--border);
  text-align: center;
  padding: 2rem 2rem;
}

.review .box-container .box p {
  direction: ltr;
  font-size: 1.4rem;
  line-height: 1.8;
  color: rgb(150, 148, 148);
  padding: 2rem 0;
}

.review .box-container .box .user {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .box-container .box h3 {
  padding: 1rem 0;
  font-size: 1.5rem;
  color: #fff;
}
.review .box-container .box .stars {
  direction: rtl !important;
}
.review .box-container .box .stars i {
  font-size: 1.5rem;
  color: var(--main-color);
}

/* contact style */

.contact .row {
  direction: rtl !important;

  display: flex;
  /* align-items: center; */
  background: var(--balck);
  flex-wrap: wrap;
  gap: 1rem;
}
.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}
.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row h3 {
  text-transform: uppercase;
  font-size: 3rem;
  color: #fff;
}

.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  background: var(--balck);
  border: var(--border);
}

.contact .row form .inputBox span {
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.contact .row form .inputBox input {
  width: 100%;
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem;
  text-transform: none;
  background: none;
}

/* blogs style */

.blogs .box-container {
  direction: rtl !important;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
  border: var(--border);
}

.blogs .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}

.blogs .box-container .box .image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  cursor: pointer;
}
/* خیلی حرکت قشنگیه اینجور هاور شدن */
.blogs .box-container .box:hover .image img {
  transform: scale(1.2);
}

.blogs .box-container .box .content {
  padding: 1.5rem;
}

.blogs .box-container .box .content .title {
  font-size: 2rem;
  line-height: 1.5;
  color: #fff;
}

.blogs .box-container .box .content .title:hover {
  color: var(--main-color);
}

.blogs .box-container .box .content span {
  color: var(--main-color);
  display: block;
  font-size: 1rem;
  padding-top: 1rem;
}

.blogs .box-container .box .content p {
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(187, 185, 185);
  padding: 1rem 0;
}

/* footer style */

.footer {
  margin-top: 2rem;
  background: var(--balck);
  text-align: center;
  direction: rtl;
}

.footer .share {
  padding: 1rem 0;
}

.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  border: var(--border);
  margin: 0.3rem;
  border-radius: 50%;
}

.footer .share a:hover {
  background-color: var(--main-color);
  transform: scale(1.1);
}
.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
  /* border: var(--border); */
  font-size: 2rem;
}

.footer .links a:hover {
  color: var(--main-color);
}

.footer .credit {
  font-size: 2rem;
  color: #fff;
  font-weight: lighter;
  padding: 1.5rem;
}

.footer .credit a {
  color: var(--main-color);
}

/* *********************************** media-queris************************* */
@media (max-width: 991px) {
  html {
    font-size: 65%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9rem);
    transition: all 0.5s ease;
  }
  /* برای باز و بسته شدن منو است */
  .header .navbar.active {
    right: 0;
    transition: all 0.5s ease;
  }

  .header .navbar a {
    color: var(--balck);
    display: block;
    direction: rtl;
    text-align: center;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .header .navbar a:hover {
    color: var(--balck);
  }
  .header .search-form {
    width: 90%;
    right: 2rem;
  }
  .header .logo img {
    margin-top: 1rem;
    height: 70%;
  }

  .home {
    background-position: right;
    justify-content: center;
    text-align: right;
    background-position: center;
    width: 100vh;
  }
  .home .content {
    margin-right: 15%;
  }
  .home .content h3 {
    font-size: 4.3rem;
  }
  .home .content p {
    font-size: 1.3rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 65%;
  }

  .header {
    padding: 1rem 0;
  }
}
